In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

In [5]:
df = pd.read_excel('simple-freq.xlsx',sheet_name='simple')

In [7]:
df.head()

  Calificacion  Frecuencia  Frecuencia Relativa  Porcentaje  Angulo
0            A          35                 0.09           9    32.4
1            B         260                 0.65          65   234.0
2            C          93                 0.23          23    82.8
3            D          12                 0.30           3    10.8