In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('C:\Users\Alexis-Lenovo\Documents\ejercicios simulacion\TrabajoFinal\Prueba1/tips.csv', sep=',', quotechar='"')

In [11]:
#Frecuencia absoulta y relativa
def freq_relative(x):
    return x/total

In [12]:
x = df['tip'].value_counts().to_frame()

In [13]:
total=x['tip'].sum()

In [14]:
x = x.assign(freq_relative=freq_relative(x['tip']))

In [15]:
x

      tip  freq_relative
2.00   33       0.135246
3.00   23       0.094262
4.00   12       0.049180
5.00   10       0.040984
2.50   10       0.040984
...   ...            ...
2.83    1       0.004098
1.58    1       0.004098
3.71    1       0.004098
3.35    1       0.004098
2.18    1       0.004098

[123 rows x 2 columns]

In [16]:
#Media
a = df['tip'].mean()
a

2.9982786885245902

In [18]:
#Correlacion de Pearson
np.corrcoef(df['tip'], df['total_bill'])

array([[1.        , 0.67573411],
       [0.67573411, 1.        ]])

In [19]:
#Correlacion de factura - propina - sexo